
<!-- <div ng-model="ids" ng-inIt="ids=getId(id)">
  <div *ngIf="ids==1">Thank you for playing angry Birds!<br>Your Balance is Rs{{gameList.game_amount}}</div>
</div> -->
<!-- <div *ngIf="{{SuccessComponent.id}}==1">su</div> -->
<!-- <button (click)="getId(game)">{{game.game_amount}}</button> -->
<!-- <p>{{id}}</p> -->
<div *ngIf="id==1">Thank you for playing shooting<br>
Your available balance is{{balance}}</div>
<div *ngIf="id==2">Thank you for playing angry birds</div>
<div *ngIf="id==3">Thank you for playing Temple run</div>
<div *ngIf="id==4">Thank you for playing Bike race</div>
<div *ngIf="id==5">Thank you for playing Air control</div>
<!-- <div *ngFor let game of gamelist>
  {{game.game_amount}}
</div> -->
<!-- <div>thank {{gameList.game_amount}}</div> -->
<!-- <div *ngIf="game.game_amount==1">1</div> -->
